<!DOCTYPE html>
<html>
<head>
    <title>So Many Feeds</title>
</head>
<body>
    <h1>Articles</h1>
    {% for article in articles %}
    <article>
        <h2>
            {% match article.link %}
                {% when Some with (url) %}
                    <a href="{{ url }}">{{ article.title.as_deref().unwrap_or("Untitled") }}</a>
                {% when None %}
                    {{ article.title.as_deref().unwrap_or("Untitled") }}
            {% endmatch %}
        </h2>
        <p><i>{{ article.feed_name }} - {{ article.date }}</i></p>
        <div>
            {{ article.content|safe }}
        </div>
    </article>
    <hr>
    {% endfor %}
</body>
</html>
