<!DOCTYPE html>
<html>
<head>
    <title>So Many Feeds</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>damo.io</h1>
    {% for article in articles %}
    <article>
        <header>
            <h1>
                {% match article.link %}
                    {% when Some with (url) %}
                        <a href="{{ url }}">{{ article.title.as_deref().unwrap_or("Untitled") }}</a>
                    {% when None %}
                        {{ article.title.as_deref().unwrap_or("Untitled") }}
                {% endmatch %}
            </h1>
            <h2>{{ article.feed_name }} - {{ article.date }}</h2>
        </header>
        <section>
            {{ article.content|safe }}
        </section>
    </article>
    {% endfor %}
</body>
</html>
