<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>damo.io - Damien Le Berrigaud's feeds</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg">
</head>
<body>
<aside>
    <h1>damo.io</h1>
</aside>
<main>
{% for article in articles %}
<article class="{{ article.feed_name }}">
    <header>
        {% match article.title %}
        {% when Some with (title) %}
            <h1>
                {% match article.link %}
                {% when Some with (url) %}
                    <a href="{{ url }}">{{ title }}</a>
                {% when None %}
                    {{ title }}
                {% endmatch %}
            </h1>
        {% when None %}
        {% endmatch %}
        <h2>{{ article.date }}</h2>
    </header>
    <section>
        {{ article.content|safe }}
    </section>
</article>
{% endfor %}
</main>
</body>
</html>
